/* Section 1 ------------------------------------------------------------------------------- */
#section-1 {
  height: initial;
}

.section-1-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 80%;
  padding: 32px 0 48px 0;
}

#section-1 h1,
#section-1 h3,
#section-1 h5,
#section-1 p {
  width: 100%;
}

#section-1 h1 {
  font-weight: 700;
  letter-spacing: -0.03em;
  font-size: 40px;
  line-height: 120%;
}

#section-1 h3 {
  font-weight: 700;
  letter-spacing: -0.03em;
  font-size: 36px;
  line-height: 120%;
}

#section-1 h5 {
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
  font-weight: 700;
}

#section-1 p {
  font-weight: 600;
  line-height: 28px;
  color: #232536;
  opacity: 0.6;
}

#section-1 p.left-border {
  margin: 16px 0;
  padding: 8px 0 8px 34px;
  border-left: 3px solid var(--text-primary);
}

#section-1 p#paragraph-4 {
  margin-top: 16px;
}

#section-1 img {
  margin: 32px;
}

#section-1 img.road {
  width: 125%;
}

/* Section 5 --------------------------------------------------------------------- */
#section-5 {
  height: initial;
}

/* Section 5 top */
.section-5-top {
  position: relative;
  overflow: hidden;
  height: initial;
}

.car-background {
  position: absolute;
  z-index: -5;
  width: 50%;
  background: url('../images/index_main/car-background-image.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  display: none;
}

.jumper-cables-background {
  position: absolute;
  z-index: -5;
  width: 50%;
  background: url('../images/index_main/jumper-cables.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  right: 0;
  display: none;
}

.section-5-top-container {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.section-5-text {
  background-color: var(--orange);
  height: 100%;
  width: 100%;
  padding: 50px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

/* Section 5 top text */
.section-5-text h3 {
  color: #fff;
  letter-spacing: -0.03em;
  line-height: 67.2px;
  width: 80%;
  text-align: center;
  font-size: 40px;
  margin-bottom: 0;
}

.section-5-text .button {
  background: #1e1b1b;
  color: #fff;
}

.section-5-text .button:hover {
  background-color: #fff;
  color: var(--text-primary);
}

/* Larget desktops and monitors --------------------------------------------------------------------------------------------- */
@media screen and (min-width: 1280px) {
  /* Section 1 ------------------------------------------------------------------------------- */
  #section-1 {
    height: 2832px;
  }

  .section-1-container {
    width: calc(200% / 3);
    padding: 80px 0 0 0;
  }

  #section-1 h1,
  #section-1 h3,
  #section-1 h5,
  #section-1 p {
    width: 896px;
  }

  #section-1 h1 {
    font-size: 48px;
    line-height: 140%;
  }

  #section-1 h3 {
    font-size: 40px;
    line-height: 140%;
  }

  #section-1 img {
    margin: 48px 0;
  }

  #section-1 img.road {
    width: 896px;
  }

  /* Section 5 --------------------------------------------------------------------- */
  #section-5 {
    height: 502px;
  }

  /* Section 5 top */
  .section-5-top {
    height: 100%;
  }

  .car-background {
    display: initial;
  }

  .jumper-cables-background {
    display: initial;
  }

  .section-5-top-container {
    width: calc(200% / 3);
  }

  .section-5-text {
    padding: 128px 80px 0 80px;
    width: 729px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
  }

  /* Section 5 top text */

  .section-5-text h3 {
    font-size: 48px;
    width: 569px;
    margin-bottom: 64px;
    text-align: initial;
  }
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
  .car-background,
  .jumper-cables-background {
    display: initial;
  }

  .section-5-text {
    width: 50%;
    margin: 0 auto;
  }
}
