/* Section 1 -------------------------------------------------------------------------------- */
#section-1 {
  height: initial;
}

.section-1-container {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 95%;
  min-width: initial;
  padding-top: 50px;
  align-items: center;
}

h1 {
  font-weight: 800;
  letter-spacing: -0.03em;
  text-align: center;
  font-size: 40px;
  line-height: 60px;
  width: 80%;
  max-width: 500px;
}

.section-1-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
  align-items: center;
}

.section-1-form .inputs {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: calc(200% / 3);
}

.section-1-form .inputs input {
  width: 100%;
  height: calc(72px - 11.5px);
  outline: none;
  border: none;
  padding: 23px 40px;
  background-color: #f2f2f2;
}

.section-1-form .inputs input::placeholder {
  color: var(--text-primary);
}

.section-1-form .button {
  width: 211.8px;
}

/* Location */
.section-1-location {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 50px 0;
  align-items: center;
  text-align: center;
  width: calc(200% / 3);
  margin-bottom: 100px;
}

.section-1-location h6 {
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  opacity: 0.6;
  margin-bottom: 0;
}

.section-1-location p {
  letter-spacing: -0.03em;
  font-weight: 600;
  font-size: 20px;
}

/* Section 2 ---------------------------------------------------------------------------------- */
#section-2 {
  height: 448px;
  background: url(../images/contact/section-2-background.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-2-container {
  position: relative;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 95%;
  min-width: initial;
  align-items: center;
}

#nyc-map {
  position: absolute;
  width: 95%;
  bottom: initial;
  top: -100px;
}

/* Larget desktops and monitors --------------------------------------------------------------------------------------------- */
@media screen and (min-width: 1280px) {
  /* Section 1 -------------------------------------------------------------------------------- */
  #section-1 {
    height: calc(1270px - 90px);
  }

  .section-1-container {
    width: calc(200% / 3);
    min-width: 1200px;
    padding-top: 80px;
    flex-direction: row;
    align-items: flex-start;
  }

  h1 {
    font-size: 64px;
    line-height: 84px;
    width: 505px;
    text-align: initial;
    max-width: 505px;
  }

  .section-1-form {
    width: 50%;
    align-items: flex-start;
  }

  .section-1-form .inputs {
    width: 624px;
  }

  /* Location */
  .section-1-location {
    width: 50%;
    padding: 206px 0 0 130px;
    align-items: flex-start;
    text-align: initial;
    margin-bottom: 0;
  }

  .section-1-location p {
    font-size: 24px;
  }

  /* Section 2 ---------------------------------------------------------------------------------- */
  #section-2 {
    background-size: cover;
  }

  .section-2-container {
    width: calc(200% / 3);
    min-width: 1200px;
    flex-direction: row;
    align-items: flex-start;
  }

  #nyc-map {
    bottom: initial;
    top: calc(280px - 448px - 170px);
  }
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
  .section-1-container {
    flex-direction: row;
    padding-bottom: 150px;
    width: 82%;
  }

  .section-1-form {
    align-items: flex-start;
    gap: 32px;
  }

  .section-1-form h1 {
    text-align: initial;
  }

  .section-1-location {
    text-align: initial;
    margin-bottom: 0;
    align-items: flex-start;
    gap: 22px;
    margin-top: 24px;
  }

  .section-1-location p {
    max-width: 300px;
  }
}
