/* Section 1 ---------------------------------------------------------------------*/
#section-1,
#section-2 {
  height: initial;
}

.section-1-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: initial;
  padding: 25px 0 50px 0;
}

/* Section 1 Text  */
.section-1-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: 800;
  margin-bottom: 52px;
  letter-spacing: -3px;
  font-size: 48px;
  width: 80%;
  text-align: center;
}

.button {
  padding: 21px 49px;
  border-radius: 12px;
  font-weight: 600;
  color: #fff;
  background-color: var(--orange);
  text-decoration: none;
}

.opening {
  margin-top: 64px;
  display: flex;
  align-items: center;
  gap: 13.05px;
  width: 80%;
  margin-bottom: 50px;
}

.opening img {
  width: 30.94px;
  height: 30.94px;
}

.opening p {
  color: var(--grey);
}

.opening h6 {
  font-size: 16px;
}

/* Section 1 img */
.section-1-image {
  position: relative;
  width: 80%;
  height: initial;
}

/* Quick service */
.quick-service,
.rating {
  position: absolute;
  left: -50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-radius: 59px;
  border: 12px solid rgba(225, 225, 225, 0.43);
  background-clip: padding-box;
  padding: 0 40px 0 5px;
  top: 50px;
  height: 80px;
  width: 250px;
}

.quick-service .hr-24 {
  border-radius: 50%;
  background-color: #5cba99;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600px;
  letter-spacing: -0.5px;
  color: #fff;
  height: 45px;
  width: 45px;
  font-size: 18px;
}

.hr-24 span {
  font-size: 16px;
  margin-left: 3px;
  letter-spacing: 0;
}

.quick-service-paragraph {
  font-size: 18px;
}

/* Rating */
.rating {
  top: initial;
  right: -50px;
  left: initial;
  color: #000;
  padding-right: 25px;
  padding-left: 25px;
  bottom: 50px;
}

.rating h5 {
  font-size: 18px;
}

/* Stars */
.stars {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stars img {
  padding: 2px;
  height: 24px;
  width: 24px;
}

/* Section 2 ---------------------------------------------------------------------*/
#section-2 {
  background-color: var(--steelgrey);
  display: flex;
  justify-content: center;
  align-items: center;
  height: initial;
}

.section-2-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 95%;
  min-width: initial;
  align-items: center;
  padding: 50px 0;
  gap: 50px;
}

/* Section 2 text */

.section-2-text {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 80%;
}

.section-2-text h2 {
  font-weight: 800;
  line-height: 76px;
  letter-spacing: -0.03em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 16px;
  text-align: center;
  font-size: 48px;
}

/* Section 2 Cards */
.section-2-text-card {
  display: flex;
  gap: 16px;
  justify-content: center;
  height: 100%;
}

.card-image img {
  width: 50px;
  height: 50px;
  background-color: #fff;
  padding: 12px;
  border-radius: 50%;
}

.card-text {
  width: 100%;
}

.card-text h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
}

.card-text p {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  opacity: 0.6;
  margin-top: 8px;
}

.know-more {
  display: flex;
  gap: 21px;
  margin-left: 0;
  justify-content: end;
}

.know-more p {
  font-size: 18px;
  font-weight: 600;
}

.know-more a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.know-more a img {
  width: 52px;
}

/* Section 2 form */
.section-2-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 80%;
  align-items: center;
}

.section-2-form h2 {
  font-weight: 700;
  text-align: center;
  font-size: 48px;
}

.section-2-form .inputs {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  width: 100%;
}

.section-2-form .inputs input {
  height: calc(72px - 11.5px);
  outline: none;
  border: none;
  padding: 23px 40px;
  width: 95%;
}

.section-2-form .inputs input::placeholder {
  color: var(--grey);
}

.section-2-form .button {
  width: 211.8px;
}

/* Section 3 ---------------------------------------------------------------------*/
#section-3 {
  height: initial;
}

.section-3-container {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  min-width: initial;
  padding: 50px 0;
}

.section-3-container h2 {
  letter-spacing: -0.03em;
  width: 80%;
  font-size: 40px;
}

.section-3-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  text-align: center;
  width: 80%;
  margin-bottom: 50px;
}

.section-3-text p {
  margin-bottom: 16px;
  line-height: 28px;
  font-weight: 600;
  opacity: 0.6;
  width: 80%;
}

.section-3-text .button {
  width: 183.5px;
}

/* Section 3 step */
.section-3-steps {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  width: 80%;
}

.step {
  display: flex;
  gap: 24px;
  height: 100%;
  width: 80%;
}

.step-number {
  width: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 12px 0 0 0;
  height: auto;
}

.step-number .number {
  background-color: var(--secondary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 64px;
  height: 64px;
  padding: 20px 0;
}

.number h5 {
  color: #fff;
  font-size: 24px;
}

.number .inner-circle {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 14px;
  top: 52px;
  z-index: 1;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.24);
}

.dotted-line {
  border: 1.5px dashed var(--orange);
  width: 0;
  height: 100%;
}

/* Step text */
.step-text {
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.step-text h4 {
  letter-spacing: -0.03em;
  font-size: 28px;
}

.step-text p {
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  opacity: 0.6;
  width: 100%;
}

/* Section 4 -------------------------------------------------------------------- */
#section-4 {
  background: #f2f2f2;
  height: initial;
}

.section-4-container {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 32px;
  padding: 50px 0;
  min-width: initial;
  width: 95%;
}

.section-4-container > p {
  font-size: 24px;
  letter-spacing: 0.03em;
  font-weight: 600;
}

.section-4-container h2 {
  line-height: 76px;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
  font-weight: 800;
  width: 80%;
  font-size: 36px;
}

.section-4-container .know-more {
  align-self: flex-end;
  padding-right: 20px;
}

.section-4-cards {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr;
  width: calc(200% / 3);
  align-items: center;
  justify-content: center;
}

.section-4-cards .section-4-card {
  height: 232px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.section-4-card img {
  width: 54.15px;
}

.section-4-card img.smaller {
  width: 47.15px;
}

.section-4-card p {
  font-size: 24px;
  font-weight: 600;
}

.section-4-card.selected,
.section-4-card:hover {
  background-color: var(--orange);
  color: #fff;
  transition: 0.5s;
}

/* Section 5 --------------------------------------------------------------------- */
#section-5 {
  height: initial;
}

/* Section 5 top */
.section-5-top {
  position: relative;
  overflow: hidden;
  height: initial;
}

.car-background {
  position: absolute;
  z-index: -5;
  width: 50%;
  background: url('../images/index_main/car-background-image.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  display: none;
}

.jumper-cables-background {
  position: absolute;
  z-index: -5;
  width: 50%;
  background: url('../images/index_main/jumper-cables.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  right: 0;
  display: none;
}

.section-5-top-container {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.section-5-text {
  background-color: var(--orange);
  height: 100%;
  /* mobile */
  width: 100%;
  padding: 50px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

/* Section 5 top text */

.section-5-text h3 {
  color: #fff;
  letter-spacing: -0.03em;
  line-height: 67.2px;
  font-size: 48px;
  width: 569px;
  margin-bottom: 64px;
  /* mobile */
  width: 80%;
  text-align: center;
  font-size: 40px;
  margin-bottom: 0;
}

.section-5-text .button {
  background: #1e1b1b;
  color: #fff;
}

.section-5-text .button:hover {
  background-color: #fff;
  color: var(--text-primary);
}

/* Section 5 bottom */
.section-5-bottom {
  background: #f2f2f2;
  height: initial;
}

.section-5-bottom-container {
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  width: calc(100% / 3);
  min-width: 320px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px 25px;
  gap: 20px;
  text-align: center;
}

.stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-5-bottom-container h3 {
  letter-spacing: -0.03em;
  font-weight: 800;
  color: var(--secondary);
  margin-bottom: 1px;
  font-size: 36px;
  text-align: center;
}

.section-5-bottom-container p {
  font-weight: 600;
  letter-spacing: -0.03em;
  margin-top: 1px;
  font-size: 20px;
  max-width: 130px;
}

/* Section 6 --------------------------------------------------------------------- */
#section-6 {
  height: initial;
}

.section-6-container {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  min-width: initial;
  gap: 20px;
  padding: 50px 0;
}

.section-6-container h2 {
  letter-spacing: -0.03em;
  font-size: 40px;
}

.brands {
  display: grid;
  gap: 38.6px;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.brands .brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brands .brand img {
  width: 100%;
  max-width: 224px;
}

/* Section 7 --------------------------------------------------------------------- */
#section-7 {
  background-color: #f2f2f2;
  height: initial;
}

.section-7-container {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  width: 95%;
  min-width: initial;
  padding: 50px 0;
}

.section-7-container h2 {
  font-weight: 700;
  line-height: 67.2px;
  letter-spacing: -0.03em;
  text-align: center;
  width: 80%;
  font-size: 40px;
  margin-bottom: 0;
}

.reviews {
  display: flex;
  align-items: center;
  gap: 48px;
  justify-content: center;
}

.review {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  /* mobile */
  width: 90%;
  height: initial;
  padding: 48px;
}

#review-2 {
  display: none;
}

.reviews .review .profile img {
  width: 64px;
  border-radius: 50%;
}

.review > p {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  letter-spacing: -0.03em;
}

.profile {
  display: flex;
  align-items: center;
  gap: 16px;
}

.profile h6 {
  font-size: 24px;
  letter-spacing: -0.03em;
  font-weight: 600;
}

.profile p {
  letter-spacing: -0.03em;
  font-weight: 600;
  color: var(--grey);
}

/* Lines and Arrows */
.lines-arrows {
  height: 62px;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

/* Lines */
.lines {
  display: flex;
  gap: 15px;
  align-items: center;
  height: 100%;
}

.line {
  height: 4px;
  width: 32px;
  background-color: var(--grey);
}

.line.selected {
  background-color: var(--orange);
}

/* Arrows */
.arrows {
  top: 0;
  right: 0;
  display: flex;
  height: 100%;
  align-items: center;
  gap: 12px;
  position: initial;
}

.arrow-left {
  width: 48px;
}

.arrow-right {
  height: 62px;
}

.arrow-left:hover,
.arrow-right:hover {
  cursor: pointer;
}

/* Section 8 */
#section-8 {
  background-color: var(--steelgrey);
  height: initial;
}

.section-8-container {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 50px 0;
  gap: 48px;
}

.section-8-container h3 {
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.03em;
  font-size: 40px;
}

.frequently-asked-questions {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.faq {
  background-color: #fff;
  position: relative;
  padding: 25px 30px;
}

.faq h5 {
  letter-spacing: -0.03em;
  font-weight: 600;
  font-size: 20px;
}

.faq.maximized p {
  margin-top: 16px;
  font-weight: 600px;
  font-size: 18px;
  line-height: 31.5px;
  color: var(--grey);
  width: 100%;
}

.question-minimize {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.minimize {
  height: 48px;
  width: 51px;
  background-color: var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  max-width: 52px;
  cursor: pointer;
}

.minimize:hover {
  background-color: #dddddd;
}

.minimize:hover .minus,
.minimize:hover .plus {
  background-color: var(--text-primary);
  transition: 0.5s;
}

.minimize .minus {
  width: 17px;
  height: 2px;
  background-color: #fff;
  position: relative;
}

.minimize .plus {
  position: absolute;
  height: 17px;
  width: 2px;
  background-color: #fff;
}

/* Larger desktops and monitors --------------------------------------------------------------------------------------------- */
@media screen and (min-width: 1280px) {
  #section-1,
  #section-2 {
    height: 894px;
  }

  /* Section 1 */

  .section-1-container {
    width: calc(200% / 3);
    min-width: 1200px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 100%;
    padding: 0;
  }

  h1 {
    text-align: initial;
    font-size: 64px;
    width: 624px;
  }

  .section-1-text {
    display: initial;
  }

  .opening {
    width: initial;
    margin-bottom: 0px;
  }

  .opening h6 {
    font-size: 18px;
  }

  .section-1-image {
    height: 632px;
    width: 605px;
  }

  /* Quick service */
  .quick-service,
  .rating {
    top: 69px;
    height: 114px;
    width: 320px;
    padding: 0 40px 0 10px;
  }

  .rating {
    bottom: 69px;
    top: initial;
    right: -50px;
    padding-left: 25px;
  }

  .quick-service .hr-24 {
    height: 70px;
    width: 69.66px;
    font-size: 24px;
  }

  .quick-service-paragraph {
    font-size: 24px;
  }

  .rating h5 {
    font-size: 24px;
  }

  .stars {
    margin-left: 10px;
  }

  .stars img {
    padding: 4px;
    width: 36px;
    height: 36px;
  }

  /* Section 2 */

  .section-2-container {
    height: 100%;
    padding: 128px 0;
    width: calc(200% / 3);
    min-width: 1200px;
    display: flex;
    /* Mobile */
    flex-direction: row;
  }

  /* Section 2 text */

  .section-2-text {
    width: 50%;
    /* Mobile */
    text-align: initial;
  }

  .section-2-text h2 {
    text-align: initial;
    font-size: 58px;
  }

  .section-2-text-card {
    height: 110px;
    justify-content: initial;
  }

  .card-text {
    width: 322px;
  }

  .know-more {
    margin-left: 66px;
    justify-content: initial;
  }

  /* Section 2 form */
  .section-2-form {
    width: 50%;
    align-items: initial;
  }

  .section-2-form h2 {
    text-align: initial;
    width: 583px;
  }

  .section-2-form .inputs {
    width: 624px;
    align-items: initial;
  }

  .section-2-form .inputs input {
    width: 100%;
  }

  /* Section 3 ---------------------------------------------------------------------*/
  #section-3 {
    height: 850px;
  }

  .section-3-container {
    padding: 162px 0;
    width: calc(200% / 3);
    min-width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
  }

  .section-3-container h2 {
    font-size: 58px;
    width: 524px;
  }

  .section-3-text {
    gap: 16px;
    width: 50%;
    align-items: start;
    text-align: start;
    margin-bottom: 0;
  }

  .section-3-text p {
    width: 437px;
  }

  /* Section 3 step */
  .section-3-steps {
    width: 50%;
    align-items: start;
  }

  .step {
    height: calc(96px + 72px);
    width: initial;
  }

  .step-number {
    padding: 12px 0;
    height: 100%;
  }

  .step-number .number {
    width: 64px;
    height: 72px;
    padding: initial;
  }

  .number h5 {
    font-size: 32px;
  }

  .dotted-line {
    height: 72px;
  }

  /* Step text */

  .step-text h4 {
    font-size: 32px;
  }

  .step-text p {
    width: 336px;
  }

  /* Section 4 -------------------------------------------------------------------- */
  #section-4 {
    height: 1052px;
  }

  .section-4-container {
    width: calc(200% / 3);
    min-width: 1200px;
    padding: 128px 0;
  }

  .section-4-container h2 {
    font-size: 58px;
    width: 858px;
  }

  .section-4-container .know-more {
    padding-right: 0;
  }

  .section-4-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: initial;
    align-items: start;
    justify-content: start;
  }

  .section-4-cards .section-4-card {
    width: 316px;
  }

  /* Section 5 --------------------------------------------------------------------- */
  #section-5 {
    height: calc(502px + 210px);
  }

  /* Section 5 top */
  .section-5-top {
    height: 502px;
  }

  .car-background {
    display: initial;
  }

  .jumper-cables-background {
    display: initial;
  }

  .section-5-top-container {
    width: calc(200% / 3);
  }

  .section-5-text {
    padding: 128px 80px 0 80px;
    width: 729px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
  }

  /* Section 5 top text */

  .section-5-text h3 {
    font-size: 48px;
    width: 569px;
    margin-bottom: 64px;
    text-align: initial;
  }

  /* Section 5 bottom */
  .section-5-bottom {
    height: 210px;
  }

  .section-5-bottom-container {
    width: calc(200% / 3);
    min-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 48px 0;
    gap: 0;
    text-align: initial;
  }

  .stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-5-bottom-container h3 {
    font-size: 58px;
    text-align: initial;
  }

  .section-5-bottom-container p {
    font-size: 24px;
    max-width: initial;
  }

  /* Section 6 --------------------------------------------------------------------- */
  #section-6 {
    height: 611px;
    /* mobile */
    height: initial;
  }

  .section-6-container {
    width: calc(200% / 3);
    min-width: 1200px;
    gap: 40px;
    padding: 128px 0;
  }

  .section-6-container h2 {
    font-size: 48px;
  }

  .brands {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: initial;
  }

  .brands .brand {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .brands .brand img {
    width: 224px;
    max-width: 224px;
  }

  /* Section 7 --------------------------------------------------------------------- */
  #section-7 {
    height: 938px;
  }

  .section-7-container {
    width: calc(200% / 3);
    min-width: 1200px;
    padding: 128px 0;
  }

  .section-7-container h2 {
    font-size: 48px;
    width: 909px;
    margin-bottom: 46px;
  }

  .reviews {
    justify-content: space-between;
  }

  .review {
    height: 376px;
    width: 616px;
    padding: 72px;
  }

  #review-2 {
    display: initial;
  }

  /* Lines and Arrows */
  .lines-arrows {
    flex-direction: row;
    align-items: start;
    gap: 0;
  }

  /* Arrows */
  .arrows {
    position: absolute;
    gap: 24px;
  }

  /* Section 8 ---------------------------------------------------------------------------- */
  #section-8 {
    height: 1140px;
  }

  .section-8-container {
    width: 896px;
    padding: 128px 0;
    gap: 95px;
  }

  .section-8-container h3 {
    font-size: 48px;
  }

  .faq {
    padding: 28.5px 40px;
  }

  .faq h5 {
    font-size: 24px;
  }

  .faq.maximized p {
    width: 701px;
  }

  .question-minimize {
    gap: 0px;
  }
}

/* Laptops, larger tablets -------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 769px) and (max-width: 1279px) {
  .section-1-container {
    flex-direction: row;
    gap: 0px;
    width: 80%;
  }

  .section-1-text {
    align-items: flex-start;
    gap: 32px;
    width: 80%;
  }

  h1 {
    font-size: 40px;
    text-align: start;
    margin-bottom: 0;
  }

  .opening {
    margin: 0;
  }

  .review {
    max-width: 768px;
  }

  .frequently-asked-questions {
    max-width: 896px;
    margin: 0 auto;
  }

  .section-4-cards {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    min-width: 640px;
    max-width: 640px;
  }

  .know-more {
    margin-right: 135px;
  }

  .section-5-text {
    width: 50%;
    margin: 0 auto;
  }

  .car-background {
    display: initial;
  }

  .jumper-cables-background {
    display: initial;
  }
}
